.option-wrapper {
    /* might not need text align. Text is just place  holders */
    text-align: left; 
    & > * {
        display: inline-block;
    }

    div:first-child {
        margin-right: 10px;
    }

    div:nth-child(2) {
        margin-right: 20px;
    }
}