.App {
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.AppContainer {
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.AppLogo {
  height: 40vmin;
  pointer-events: none;
}

.stopwatchContainer {
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  padding: inherit;
  background-color: inherit;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}